.vehicle-donation-wrapper {
    padding: 40px;

    hr {
        margin: 20px 0;
    }
    .main-header {
        font-size: 40px;
        color: $deep-teal;
    }
    
    .section-header {
        font-size: 28px;
        color: $light-green;
    }
    
    .sub-header {
        font-size: 25px;
    }
}
