@import "@/styles/bootstrap";

.desktop-header {
    display: none;
}

.mobile-header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 3000;
        background-color: white;

    .menu-wrapper {
        display: block;
        padding: 10px;

        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: white;
        z-index: 2000;

        opacity: 0;
        transition: opacity 0.25s ease;
        pointer-events: none;

        .icon-x {
            text-align: right;
        }

        .info-bar-button {
            display: block;
            padding: 10px;
            border-bottom: 1px solid #eee;
        }

        .menu-list {
            margin-top: 20px;

            .routerlink {
                text-decoration: none;
                color: inherit;
            }
        }

        .menu-item {
            border-bottom: 1px solid #eee;
        }

        .menu-link,
        .menu-parent {
            display: block;
            padding: 16px;
            cursor: pointer;
        }

        .menu-parent svg {
            // transition: transform 0.1s ease;
            transition: transform 0.25s ease, opacity 0.25s ease;
        }

        .rotate {
            transform: rotate(180deg);
        }

        .submenu {
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.25s ease;
        }

        .submenu.open {
            max-height: 500px;
        }

        .submenu-item {
            display: block;
            padding: 12px 16px 12px 32px;
            background: #f9f9f9;
        }
    }

    .menu-wrapper.open {
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
    }

    .upper-header-wrapper {
        // position: fixed;
        // top: 0;
        // left: 0;
        // width: 100%;
        // z-index: 3000;
        // background-color: white;

        .banner-menu {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .donate-button {
            text-align: center;
            background-color: $light-blue;
            padding: 10px;
        }
    }

}

@include media-breakpoint-up(md) {
    .bg-image {
        background-image: url(../../assets/logo-horizontal-small.png);
        height: 208px;
        background-repeat: no-repeat;
    }

    .mobile-header {
        display: none;
    }

    .desktop-header {
        display: block;

        .menu-wrapper {
            display: flex;
            justify-content: space-around;
            text-align: center;
            

            .menu-list-desktop {
                position: relative;
                padding: 10px;
                // background-color: red;
                width: 100%;
                white-space: nowrap;
                transition: 0.25s ease;

                .submenu-desktop {
                    opacity: 0;
                    transform: translateY(-10px);
                    pointer-events: none;
                    transition: opacity 0.25s ease, transform 0.25s ease;

                    min-width: 200px;
                    position: absolute;
                    top: 100%;
                    right: 0;
                    background-color: rgb(245, 245, 245);
                    z-index: 1000;
                    box-shadow: 0 4px 10px rgba(0,0,0,0.1);

                    .submenu-item-desktop {
                        display: block;
                        padding: 5px;
                        margin: 5px;
                    }
                }

                &:hover {
                    background-color: rgb(245, 245, 245);
                    cursor: pointer;
                }

                &:hover .submenu-desktop {
                    opacity: 1;
                    transform: translateY(0);
                    pointer-events: auto;
                }
            }
        }

        .banner-donate {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .donate-button {
                background-color: $golden-yellow;
                border-radius: 5px;
                padding: 10px;
                white-space: nowrap;
                margin-right: 10px;
            }
        }
    }
}