@import "@/styles/bootstrap";

.desktop-header {
    display: none;
}

.mobile-header {
    .upper-header-wrapper {
        display: flex;
        justify-content: space-between;
    }

    .menu-opener {
        display: flex;
        justify-content: space-between;

        svg {
            height: 40px;
            width: 40px;
        }
    }

    div {
        padding: 10px;
        color: $deep-teal;
    }
}

@include media-breakpoint-up(md) {
    .bg-image {
        background-image: url(../../assets/logo-horizontal-small.png);
        height: 208px;
        background-repeat: no-repeat;
    }

    .mobile-header {
        display: none;
    }

    .desktop-header {
        display: block;

        .menu-wrapper {
            display: flex;
            justify-content: space-around;
            text-align: center;

            .nav-header-item {
                padding: 10px;
                width: 100%;
                cursor: pointer;
                transition: 0.2s;
                white-space: nowrap;

                &:hover {
                    background-color: $golden-yellow;
                }
            }

            .nav-item {
                position: relative; // Needed for the dropdown to position absolutley
                
            }

            .dropdown-menu-list {
                position: absolute;
                display: none;
                top: 100%;
                left: 0;
                min-width: 200px;
                z-index: 1000;
                padding: 0px;
                background-color: white;
                list-style-type: none;
                text-align: left
            }

            .nav-item:hover .dropdown-menu-list {
                display: block;
            }

            
        }

        .banner-donate {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .donate-button {
                background-color: $golden-yellow;
                border-radius: 5px;
                padding: 10px;
                white-space: nowrap;
                margin-right: 10px;
            }
        }
    }
}